[Desktop Entry]
Name=SeaMonkey Community Edition Composer
Comment=SeaMonkey Community Edition Composer
Comment[pl]=SeaMonkey Community Edition - Projektant stron WWW
Exec=seamonkey -edit
Icon=seamonkey
Terminal=false
Type=Application
Categories=Development;WebDevelopment;
# vi: encoding=utf-8
