[Desktop Entry]
Name=SeaMonkey Community Edition Chat
Name[pl]=Chat SeaMonkey Community Edition
Exec=seamonkey -chat
Icon=seamonkey
Terminal=false
Type=Application
Categories=Network;IRCClient;
# vi: encoding=utf-8
