[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey Composer
Comment=SeaMonkey Composer
Comment[pl]=SeaMonkey - Projektant stron WWW
Exec=seamonkey -edit
Icon=seamonkey.png
Terminal=false
Type=Application
Categories=Development;WebDevelopment;
# vi: encoding=utf-8
