[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey Venkman
Name[pl]=SeaMonkey Venkman
Comment=JavaScript Debugger
Comment[pl]=Debugger JavaScript
Exec=seamonkey -venkman
Icon=seamonkey.png
Terminal=false
Type=Application
Categories=Development;WebDevelopment;
# vi: encoding=utf-8
