[Desktop Entry]
Encoding=UTF-8
Name=SeaMonkey Mail
Name[pl]=Poczta SeaMonkeya
Exec=seamonkey -mail
Icon=seamonkey.png
Terminal=false
Type=Application
Categories=Network;Email;
# vi: encoding=utf-8
